<h1>Sample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Sample appへようこそ！<br>
以下のURLをクリックするとアカウントが有効化されます。
</p>

<%= link_to "アカウントの有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>